{% extends "base.html" %}
{% block title %}Locations{% endblock %}

{% block content %}
    <h1>Our Locations</h1>
    <p>Visit us at our three locations: Leeds, Harrogate, and Knaresborough Castle. Each location offers the same exceptional quality and service.</p>
    <div style="margin-left: -20px;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15yLOXjPgoE9z0ZWwydYTfKsnNqTkT64&ehbc=2E312F" width="640" height="480"
         height="450" 
         style="border:0;" 
         allowfullscreen="" 
         loading="lazy">
        </iframe>
    </div>

{% endblock %}