{% extends "base.html" %}

{% block title %}Payment{% endblock %}

{% block content %}
    <h1>Enter Payment Details</h1>
    <form action="{{ url_for('proceed_to_payment') }}" method="POST">
        <div class="form-group">
            <label for="credit_card">Credit Card Number</label>
            <input type="text" id="credit_card" name="credit_card" class="form-control" required>

            <label for="credit_card">3 Digit security code</label>
            <input type="text" id="credit_card" name="credit_card" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit Payment</button>
    </form>
{% endblock %}
