{% extends "base.html" %}
{% block title %}Sweet{% endblock %}

{% block content %}
    <h1>Want something sweet?</h1>
    <p>This is the content of your home page.</p>
    <div class="container">
        <div class="row">
            <!-- Links -->
            <div class="col-12 mb-3 d-flex justify-content-start align-items-center">
                <a class="btn btn-link me-3" href="#pastries">Pastries</a>
                <a class="btn btn-link link-opacity-75-hover me-3" href="#cakes">Cakes</a>
            </div>
        </div>

        <!-- Hot Drinks Section -->
        <div class="row" id="sandwitches">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/buttercroissant.jpg') }}" class="card-img-top" alt="Buttercroissant">
                        <h5 class="card-title">Butter crossaint</h5>
                        <p class="card-text"></p>
                        <p class="card-text">£1.20</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate crossaint</h5>
                        <p class="card-text">Only cheese and nothing else</p>
                        <p class="card-text">£1.20</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pistachio Crossaint</h5>
                        <p class="card-text">chicken and bacon here is beeter than any other meal deals</p>
                        <p class="card-text">£1.20</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pain au chocolat</h5>
                        <p class="card-text">everyones favorite</p>
                        <p class="card-text">£1.25</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">pecan and maple plait</h5>
                        <p class="card-text">chicken tikka</p>
                        <p class="card-text">£1.30</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cold Drinks Section -->
        <div class="row mt-5" id="cakes">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vanilla Cake</h5>
                        <p class="card-text">sweet and amazing</p>
                        <p class="card-text">£1.00</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate cake</h5>
                        <p class="card-text">Sutiable for chocolate lovers</p>
                        <p class="card-text">£1.00</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carrot cake</h5>
                        <p class="card-text">Who likes carrots</p>
                        <p class="card-text">£1.00</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Coffee cake</h5>
                        <p class="card-text">wanna stay awake </p>
                        <p class="card-text">£1.00</p>
                        <a href="#" class="btn btn-primary">Purchase now</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
