{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
    <h1>Learn more about us</h1>
    <p>We are one of the first cafes in the UK to use Fairtrade coffee and organic milk in our products. Each drink is made exactly to your specifications for personal service. We offer trademarked flavored coffees, breakfast items, small sweet treats, and pressed sandwiches. We have recently added frappés and fruit smoothies to our menu as well as our seasonal treats such as the pumpkin spice latte. You can also pre-order baked goods for collection.</p>
{% endblock %}
