{% extends "base.html" %}
{% block title %}Your Basket{% endblock %}

{% block content %}
    <h1>Your Basket</h1>

    {% if cart and cart|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>£{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
                {% endfor %}
                <tr><td colspan="2"></td><td>£{{total_price}}</td></tr>
            </tbody>
        </table>
    {% else %}
        <p>Your basket is empty!</p>
    {% endif %}

    <a href="{{ url_for('views.index') }}" class="btn btn-primary">Continue Shopping</a>
    <a href="{{ url_for('views.clear_basket') }}" class="btn btn-primary">Clear Basket</a>
    <a href="{{ url_for('views.proceed_to_payment')}}" class="btn btn-primary">Proceed to payment</a>


{% endblock %}