{% extends "base.html" %}
{% block title %}Online Lesson Booking{% endblock %}

{% block content %}
<h1>Online Lesson Booking</h1>
<form method="POST" action="{{ url_for('views.teachonlinebakinglessons') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.firstname.label(class="form-label") }} 
        {{ form.firstname(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.lastname.label(class="form-label") }} 
        {{ form.lastname(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }} 
        {{ form.email(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.nameoffoodordrink.label(class="form-label") }} 
        {{ form.nameoffoodordrink(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.type_of_item.label(class="form-label") }} 
        {{ form.type_of_item(class="form-select long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.hours.label(class="form-label") }} 
        {{ form.hours(class="form-select long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.minutes.label(class="form-label") }} 
        {{ form.minutes(class="form-select long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary long-circle") }}
    </div>
</form>
{% endblock %}
