{% extends "base.html" %}
{% block title %}Teach online lessons{% endblock %}

{% block content %}
<h1>Enter your details here to teach online baking lessons</h1>
<form method="POST" action="{{ url_for('views.teachonlinebakinglessons') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.firstname.label(class="form-label") }} 
        {{ form.firstname(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.lastname.label(class="form-label") }} 
        {{ form.lastname(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }} 
        {{ form.email(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.nameoffoodordrink.label(class="form-label") }} 
        {{ form.nameoffoodordrink(class="form-control long-circle") }}
    </div>
    <div class="mb-3">
        {{ form.type_of_item.label(class="form-label") }} 
        {{ form.type_of_item(class="form-select long-circle") }}
    </div>

    <div class="mb-3">
        {{ form.day.label(class="form-label") }} 
        {{ form.day(class="form-select long-circle") }}
    </div>

    <div class="mb-3">
        {{ form.start_time.label(class="form-label") }} 
        {{ form.start_time(class="form-select long-circle") }}
    </div>

    <div class="mb-3">
        {{ form.end_time.label(class="form-label") }} 
        {{ form.end_time(class="form-select long-circle") }}
    </div>

    <div class="mb-3">
        {{ form.submit(class="btn btn-primary long-circle") }}
    </div>
</form>
{% endblock %}
